<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgLpEXKAO3ADjHNYol-ABGH04T8UtsaAY</string>
	<key>GCM_SENDER_ID</key>
	<string>919027701670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omaGroup.bayti</string>
	<key>PROJECT_ID</key>
	<string>oma-bayti</string>
	<key>STORAGE_BUCKET</key>
	<string>oma-bayti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919027701670:ios:6eb5d27061416de99a6167</string>
</dict>
</plist>